<header class="bar-header">
    <div style="text-align:center;margin:15px 0;">
        <script>
  atOptions = {
    'key' : '097e5d012d5ed92c8a22dc4f3ab7f35b',
    'format' : 'iframe',
    'height' : 250,
    'width' : 300,
    'params' : {}
  };
</script>
        <script src="https://directsinew.com/097e5d012d5ed92c8a22dc4f3ab7f35b/invoke.js"></script>
        <script src="https://directsinew.com/51/6a/cb/516acb4b17be415d2d9cf80f068bf5fa.js"></script>
        <script>
  atOptions = {
    'key' : 'c205b0c1e2fba08feb79f9665bfbe865',
    'format' : 'iframe',
    'height' : 90,
    'width' : 728,
    'params' : {}
  };
</script>
<script src="https://directsinew.com/c205b0c1e2fba08feb79f9665bfbe865/invoke.js"></script>

        <script>
  atOptions = {
    'key' : 'b550234de141f988a8de33a7d7bae777',
    'format' : 'iframe',
    'height' : 60,
    'width' : 468,
    'params' : {}
  };
</script>
<script src="https://directsinew.com/b550234de141f988a8de33a7d7bae777/invoke.js"></script>
   <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8274747686089572"
     crossorigin="anonymous"></script>     
 <script async="async" data-cfasync="false" src="https://directsinew.com/a525aa7934aa7a0d144b3da68b8a9ad2/invoke.js"></script>
<div id="container-a525aa7934aa7a0d144b3da68b8a9ad2"></div>
        
</div>
    <a id="menu" role="button">
        <svg id="open" class="icon-menu"><use xlink:href="#icon-menu"></use></svg>
    </a>
    <h1 class="logo">
        <a href="{{ site.baseurl }}/">
            {% if site.use_logo %}
                {% include logo.html %}
            {% else %}
                {{ site.name }} <span class="version">{{ site.version }}</span>
            {% endif %}
        </a>
    </h1>
    <a id="search" class="dosearch" role="button">
        <svg class="icon-search"><use xlink:href="#icon-search"></use></svg>
    </a>
  
</header>

<div id="mask" class="overlay"></div>

{% include menu.html %}
{% include search.html %}
